* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Segmental 7';
  src: url('fonts/7SEGMENTALDIGITALDISPLAY.ttf') format('truetype'); /* Caminho para o arquivo da fonte */
}

:root {
  --BrandColor-1: #9747FF;
  --BrandColor-2: #872bff;
  --BrandColor-3: #6912db;
  
  --White: #FEFEFE;
  --Black: #0A0A0A;
  
  --Grey-100: #EDEDED;
  --Grey-200: #D9D9D9;
  --Grey-300: #A1A1A1;
  --Grey-400: #696969;
  --Grey-500: #515151;
  --Grey-600: #2C2C2C;
  --Grey-700: #222;
  --Grey-900: #1E1E1E;
}

body {
  background-color: var(--Grey-600);
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 64px;
  
  background-color: var(--BrandColor-1);
}

h1 {
  font-family: "Jersey 10", serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--Grey-100);
}

ul {
  list-style: none;
}

.imgGithub {
  width: 2.5rem;
}

main {
  display: flex;
  height: calc(100vh - (30px + 2.5rem));
  justify-content: center;
  align-items: center;
}

.calc {
  display: flex;
  flex-direction: column;
  gap:2rem;

  width: 504px;
  padding: 2rem;
  border-radius: 28px;

  background-color: var(--Grey-700);
  box-shadow: -10px 10px var(--Grey-900);
}

.display {
  height: 88px;
  background-color: var(--Grey-500);
  border-radius: 20px;

  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1rem;
}

.textDisplay {
  color: var(--Grey-200);
  font-family: 'Segmental 7';
  font-size: 3rem;
  letter-spacing: 6px;
  font-weight: bold;
}

.All-buttons {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
}

.All-buttons, .buttons {
  gap: 1.25rem;
}

.buttonsRow {
  display: flex;
  flex-wrap: wrap;
  width: 348px;
  gap: 1.25rem
}

.line04-05 {
  display: flex;
  gap: 1.25rem
}

button {
  width: 72px;
  height: 72px;
  font-family: "Jersey 10", serif;
  font-size: 2.5rem;
  border-radius: 20px;
  border: none;
  padding: auto;
  color: var(--Grey-100);
  background-color: var(--Grey-400);
  box-shadow: -6px 6px var(--Grey-500);
}

button:hover {
  background-color: var(--Grey-500);
  box-shadow: -6px 6px var(--Grey-600);
}


.funcButton {
  background-color: var(--BrandColor-1);
  box-shadow: -6px 6px var(--BrandColor-2);
}

.funcButton:hover {
  background-color: var(--BrandColor-2);
  box-shadow: -6px 6px var(--BrandColor-3);
}

.funcButton:active, .numButton:active {
  box-shadow: none;
  
  transform: translate(-6px, 6px); /* Move o botão 6px para a direita e 6px para baixo */
  
  transition: 0.075s ease;
}

.highButton {
  height: 164px;
}